
form#google-keyhaviour-admin div.checkboxes div.form-item {
	width: 33%;
	display: block;
	float: left;
}
form#google-keyhaviour-admin .sentence-display,
form#google-keyhaviour-admin fieldset.rule-definition div.form-item label,
form#google-keyhaviour-admin fieldset.rule-definition div.form-item {
	display: inline;
}
form#google-keyhaviour-admin fieldset.rule-definition div.form-item .concatenator {
	display: block;
	margin: 3px 0;
}
form#google-keyhaviour-admin fieldset.rule-definition div.form-item .indent {
	margin-left: 220px;
}
form#google-keyhaviour-admin fieldset {
	border-width: 3px;
}
form#google-keyhaviour-admin fieldset fieldset {
	border-width: 1px;
}
#block--.block {
	display: none;
}